*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 1046px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-top: 28px;
    padding-bottom: 28px;
    /* position: fixed; */
    width: 100%;
}

.union{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 27px;
}

.union ul{
    display: flex;
    align-items: center;
    gap: 21px;
}

.anoth_color{
    color: #737373;
    font-size: 14px;
    font-weight: 600;
}

.logo{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.home{
    color: black;
    font-weight: 700;
}

#hero{
    background-image: url("../images/cover(1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 710px;
    padding-top: 80px;
}

.empower{
    font-size: 58px;
}

.hero-desc{
    color: #737373;
    font-size: 20px;
    margin-top: 35px;
}

.btns{
    margin-top: 35px;
}

.btn1{
    background-color: transparent;
    border: 1px, solid, #00A0C1;
    width: 185px;
    height: 48px;
    border-radius: 37px;
}

.btn2{
    background-color: transparent;
    border: 1px, solid, #00A0C1;
    width: 154px;
    height: 48px;
    border-radius: 37px;
}

.btn1:hover{
    background-color: #FFA62B;
    border: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: #FFA62B;
    border: none;
    transition: 0.5s;
}

#choose_marketing{
    margin-top: -108px;
    padding-bottom: 80px;
}

.card-1{
    width: 328px;
    height: 210px;
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
    box-shadow: 0px 0px 10px gray;
}

.card-1 h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-1 p{
    font-size: 14px;
    color: #737373;
}

.anoth_color_img{
    width: 55px;
    height: 55px;
    background-color: #00A0C1;
    padding: 10px;
    /* border-radius: 25px;  BORDER RADIUS BERSA, RASIMNI BURCHAKLARI KETIB QOVOTTI */
}

.marketing-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-1:hover{
    background-color: #00A0C1;
    transition: 0.5s;
}

.card-1:hover h3{
    color: white;
}

.card-1:hover p{
    color: white;
    /* transition: 0.5s; */
}

.card-1 img{
    width: 55px;
    height: 55px;
    background-color: white;
    padding: 10px;
}

.mrk_card img{
    width: 55px;
    height: 55px;
    background-color: #00A0C1;
    padding: 10px;
}

#about_us{
    padding-top: 294px;
    background-color: #FAFAFA;
    margin-top: -214px;
    padding-bottom: 80px;
}

.about_us_content h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.about_us_content p{
    font-size: 14px;
    color: #737373;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.card-2{
    width: 230px;
    height: 209px;
    padding-top: 32px;
    padding-bottom: 30px;  
    background-color: white; 
}

.card-2 img{
    margin-left: 91px;
}

.card-2 h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.card-2 h5{
    margin-top: 10px;
    font-size: 16px;
    color: #737373;
    text-align: center;
}

.about_us_cards{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-2:hover{
    box-shadow: 0px 0px 10px gray;
    transition: 0.5s;
}

#advice{
    padding-top: 125px;
    background-color: #FAFAFA;
    padding-bottom: 101px;
}

.advice_content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.advice_content p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 45px;
    color: #737373;
    text-align: center;
}

.card-3{
    width: 238px;
    height: 321px;
    background-color: white;
    padding-top: 30px;
}

.card-3 h5{
    font-size: 16px;
    font-weight: 700;
    margin-left: 30px;
}

.card-3 h4{
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
    color:#737373;
    margin-top: 15px;
    margin-bottom: 54px;
}

.card-3 img{
    width: 100%;
    height: 138px;
}

.card-3:hover{
    box-shadow: 0px 0px 10px gray;
    transition: 0.5s;
}

.advice-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#business_servises{
    padding-top: 100px;
    padding-bottom: 157px;
}

.business_servises_content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.business_servises_content p{
    font-size: 14px;
    font-weight:500;
    margin-bottom: 100px;
    text-align: center;
    color: #737373;
}

.buss_cont_3{
    display: flex;
    gap: 20px;
}

.buss_cont_3 h6{
    margin-top: 5px;
}

.business_servises_content_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in_content2 h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.in_content2 h3{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #737373;
}

.buss_cont_3 h5{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.buss_cont_3 h6{
    font-size: 14px;
    font-weight: 600;
    color: #737373;
}

#hooli{
    background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hooli_images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

#email_send{
    background-color: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 85px;
}

.union_email{
    background-color: #16697A;
    height: 124px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.union_email h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
    /* margin-top: 30px; */
}

.subscribe-form input{
    width: 350px;
    height: 58px;
    padding-left: 20px;
    border-radius: 7px;
    border: none;
}

.subscribe-form button{
    width: 100px;
    height: 58px;
    border-radius: 7px;
    border: none;
    background-color: #FFA62B;
    color: white;
}

#contact{
    background-color: #F3F3F3;
    padding-top: 80px;
    padding-bottom: 208px;
}

.contact_content h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact_content p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 80px;
}

.card-4{
    width: 327px;
    height: 333px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-4 img{
    margin-left: 128px;
    margin-bottom: 15px;
}


.card-4 h6{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.card-4 h5{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn3{
    width: 160px;
    height: 44px;
    background-color: transparent;
    border: 2px, solid, #FFA62B;
    color: #FFA62B;
    border-radius: 5px;
    margin-left: 84px;
}

.contact_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anoth_color_contact img{
    background-color: #252B42;
}

.card-4:hover{
    background-color: #252B42;
    transition: 0.5s;
}

.card-4:hover h6{
    color: white;
}

.card-4:hover h5{
    color: white;
}

.card-4:hover button{
    color: white;
    border: 2px, solid, white;
}

#forms{
    padding-top: 100px;
    padding-bottom: 98px;
}

.name__{
    width: 100%;
    height: 50px;
    border: none;
    border: 2px, solid, #E0E0E0;
    padding-left: 20px;
}

.email__{
    width: 100%;
    height: 50px;
    border: 2px, solid, #E0E0E0;
    padding-left: 20px;
}

.tel__{
    width: 100%;
    height: 50px;
    border: 2px, solid, #E0E0E0;
    padding-left: 20px;
}

.comment__{
    width: 100%;
    height: 156px;
    border: 2px, solid, #E0E0E0;
    padding-left: 20px;
}

.select__{
    width: 100%;
    height: 50px;
    border: 2px, solid, #E0E0E0;
    padding-left: 20px;
}

.btn4{
    background-color: #FFA62B;
    border: none;
    width: 163px;
    height: 58px;
    border-radius: 5px;
    margin-left: 444px;
    margin-top: 59px;
}

footer{
    background-color: #16697A;
    padding-top: 50px;
    padding-bottom: 87px;
}

.content_items h5{
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.content_items ul li{
    margin-top: 10px;
}

.content_items ul li a{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.footer_content{
    display: flex;
    justify-content: space-between;
}

.ftr{
    display: flex;
    align-items: center;
    gap: 10px;
}